body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  justify-content: center;
  background-color: #f7f7f7;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
}

.logo {
  display: grid;
  justify-content: center;
  padding: 4rem;
}

.menu a {
  text-decoration: none;
  padding: 1.2rem 2rem;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  border-radius: 0.3rem;
}

.menu ul {
  list-style-type: none;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.bikcraft {
  max-width: 100%;
  display: block;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin-top: 4rem;
}

.introducao {
  display: grid;
  background-color: #fff;
  padding: 3.4rem;
  position: relative;
  text-align: right;
  align-content: center;
  gap: 1.2rem;
  justify-items: end;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #e21;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e24;
  color: #127;
  font-size: 1.1rem;
}

.detalhe::after {
  content: "";
  background-color: #e21;
  height: 4px;
  width: 60px;
  position: absolute;
  top: 30px;
  right: -30px;
}

.introducao h1 {
  font-weight: bold;
  font-size: 2rem;
}

.vantagens {
  padding: 40px;
  background: #fff;
}

.subtitulo {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  align-self: center;
  text-transform: uppercase;
  padding: 40px;
  background: url(/img/onda.svg);
}

.vantagens-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  padding: 20px;
}

.vantagens-item h3 {
  grid-column: 2;
}

.vantagens-item p {
  grid-column: 2;
}

footer {
  font-size: 1.6rem;
  margin-top: 4rem;
  text-align: center;
  padding: 1.6rem;
  width: 100%;
}

.lista li:nth-child(odd) {
  background-color: #f7f7f7;
}
